JWT_KEY='my_secret_key'

# DB
DB_PW=my_db_pw

# 1. DATABASE_URL: Usata dall'app NestJS. 
# NOTA: Usa la porta 6543 e aggiungi pgbouncer=true
# Connect to Supabase via connection pooling
DATABASE_URL="url"

# Direct connection to the database. Used for migrations
DIRECT_URL="direct_url"

#url for sqlite
DB_SQLITE_URL="path_to_sqlite_db"